@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Lato&family=Noto+Sans:wght@400;600&family=Open+Sans&family=Poppins&family=Roboto&family=Work+Sans:ital,wght@0,400;0,600;1,700;1,800&display=swap');

*{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
.header{
    margin: 0px 240px 0px 240px;
    padding: 10px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
}
.logo-text{
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav-title-color{
    color:#FF42A5 ;
}
.nav-logo{
    height: 30px;
}
.follow-icon{
    display: flex;
    padding: 20px;
    align-items: center;
    gap: 20px;
    
}
.follow-icon li{
    list-style: none;
}
.follow-icon a{
    text-decoration: none;
    margin-left: 20px;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}
.nav-icon-title{
    color: #3C354F;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
}
.social-link{
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    border: 0;
    padding: 17px ;
}
/* this is banner section style */
.banner-container{
    display: flex;
    justify-content: space-between;
    gap: 70px;
    padding: 0px 240px 0px 240px;
    align-items: center;
    background-image: url("images/group14.png");
    background-repeat: no-repeat;
}
.banner-title{
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}
.banner-another-title{
    text-align: center;
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-list {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
    padding: 10px;
}

.banner-btn-one{
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border-radius: 48px;
    background:linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    padding: 21px 40px;
    border: 0;
}
.banner-btn-two{
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border-radius: 48px;
    background:linear-gradient(90deg, #4EC5F7 0%, #4EC5F7 100%);
    padding: 21px 40px;
    border: 0;
    margin-left: 20px;
}
.btn{
    margin-top: 20px;
}

/* gamer section style */
.gamer{
    display: flex;
    /* justify-content: space-between; */
    text-align: right;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    padding: 0px 240px 0px 240px;
    margin-bottom: 100px;
}
.gamer-section-title{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 30px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gamer-section-description{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}
.gamer-btn{
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border-radius: 48px;
    background:linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    padding: 21px 40px;
    border: 0;
    margin-bottom: 30px;
}
.gamer-first-descrip{
    color: #534C64;
    font-size: 24px;
    font-weight: 500;
    line-height: 45px;
}
.gamer-second-descrip{
    color: #534C64;
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
}
/* online game section style */
.section-title{
    text-align: center;
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
}
.color-text{
    background: linear-gradient(180deg, #F948B2 0%, #8658f1de 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: 700;
}
.section-description{
    text-align: center;
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.video-game-container{
    gap: 24px;
    display: flex;
    justify-content: center;
    padding: 0px 240px 0px 240px;
    margin-top: 48px;
    margin-bottom: 80px;
}
.video-img{
    position: relative;
}
.hover-style img{
    width: 34px;
    height: 34px;
}
.video-img .hover-style{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    transition: 0.2s;
    cursor: pointer;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    opacity: 0;
}
.video-img:hover .hover-style{
    opacity: 1;
    cursor: pointer;
    background: linear-gradient(to right top, #9fb3d1ae, #051d40a7, #04224aae, #032654bb, #022b5ea6);
    color: #fff;
    border: 4px solid #F948B2;
}
.video-game-text{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin-top:24px ;
}
/* download section */
.container{
    max-width: 1440px;
    margin: 0 auto;
}
.download-container{
    display: flex;
    align-items: center;
    gap: 380px;
}
.download-title{
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    text-align: right;
}
.download-description{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.download-color-text{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.download-right-content{
    position: relative;
}
.talking-tom{
    left: -27%;
    top: 55%;
    position: absolute;
    width: 60%;
}
.item-container{
    display: flex;
    margin-top: 150px;
    align-items: center;
    justify-content: center;
}

.item-box{
    display:flex;
    border-radius: 50px;
    background: #FFF;
    align-items: center;
    padding: 0px 20px 5px 0px;
}
.item-box:hover{
    border: 2px solid #F948B2;
}
.item-main-flex{
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 30px;
}

.game-container{
    padding: 100px 55px;
    margin-top: 120px;

}

.game-name-style{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    
}

.game-name-style li{
    display: flex;
    align-items: center;
    padding: 5px 10px;
    gap: 10px;
    border-radius: 50px;
    transition: 0.2s;
    
}
.geme-name-style li >span{
    color: #0B0223;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: 0.2s;
}
.game-name-style li:hover{
    background: #FFF;
    cursor: pointer;
    border: 2px solid #F948B2;
}

.game-name-style li:hover span{
    color: #F948B2;
}
.footer-menu ul{
    flex-wrap: wrap;
    justify-content: center;
    gap: 18px;
}
.footer-menu ul > li{
    flex-basis: 25%;
   
}

.footer-bottom-menu ul{
    margin: 0;
}


.footer-bottom-menu ul li {
    flex-basis: calc((100% - 50px)/2);
}

.footer-icon{
    gap: 23px;
}


.footer-icon svg{
    flex-basis: 25%;
}

footer{
    margin-top: 70px;
}

.games-top-content{
    text-align: center;
    padding: 0px 40px;
}
.games-top-content p{
    line-height: 28px;
    margin-top: 5px;
}

footer{
    background-color: #0B0223;
    padding: 100px 0px;
    
}


footer .container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-logo-text{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.footer-logo-text img{
    width: 70px;
    height: 35px;
}
.footer-logo-text h3{
    color: #FFF;
    font-size: 35px;
    font-weight: 700;
}

.footer-menu ul{
    display: flex;
    gap: 40px;
    align-items: center;
    margin: 30px 0px;
    flex-wrap: nowrap;
    padding: 20px;
    font-size: 16;
}
.footer-menu ul li a{
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s;
    text-decoration: none;
    text-align: center;
}
.footer-menu ul li a:hover{
     color: rgba(255, 255, 255, 0.60);
}

.footer-icon{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 50px;
}
.footer-icon svg{
    width: 38px;
    height: 38px;
    cursor: pointer;
}

.footer-bottom-menu ul{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 25px;
}

.footer-bottom-menu ul li a,.footer-bottom-copyright-text p{
    color: rgba(255, 255, 255, 0.60);
    font-size: 13px;
    font-weight: 500;
}

/* this is media query for mobile responsive */
@media screen and (max-width:425px){
    .navbar{
        flex-direction: column;
    }
    .follow-icon{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .header{
        margin: 70px 0px 0px 0px ;
        display: flex;
        justify-content: center;
    }
    nav ul{
        flex-direction: column;
    }
    li {
        margin-bottom:20px ;
        text-align: center;
    }
    .banner-container{
        flex-direction: column-reverse;
        padding: 0px 20px 30px 20px;
    }
    .right-side-images-banner-container img{
        width: 100%;
    }
    .gamer{
        padding: 0px 40px 0px 40px;
        flex-direction: column;
    }
    .gamer-section-images img{
        width: 100%;
    }
    .gamer-section-text{
        text-align: center;
        margin-bottom: 15px;
    }
    .video-game-container{
        flex-direction: column;
        padding: 0px 40px 0px 40px;
    }
    .video-img > img{
        width: 100%;
    }
    .download-container{
        gap: 0;
        flex-direction: column;
        margin: 0px 80px 0px 80px;
    }
    .download-right-content .hourse-img{
        width: 100%;
    }
    .download-right-content.talking-tom{
        left: -27%;
        top: 55%;
        position: absolute;
        margin-bottom: 0;
        width: 90%;
    }
    .download-title{
        text-align: center;
}
.game-section-two{
    padding: 0 25px;
}
.game-name-style{
    justify-content: space-between;
    gap: 10px;
}
.game-name-style li{
    width: 30%;

}
.game-name-style li img{
    width: 40%;
}
.game-name-style li span{
    font-size: 13px;
}
.game-section-two{
    margin-top: 50px;
    padding: 0;
    flex-wrap: wrap;
}
.footer-menu ul{
    flex-wrap: wrap;
    justify-content: center;
    gap: 18px;
}
.footer-menu ul > li{
    flex-basis: 25%;
   
}
.footer-icon{
    padding: 0;
    gap: 0;
}
.footer-bottom-menu ul{
    flex-wrap: wrap;
    gap: 15px;
}
.footer-container{
    padding: 0;
    flex-wrap: wrap;
    height: 100%;
}
.footer-bottom-menu ul li {
    flex-basis: calc((100% - 50px)/2);
}

.footer-icon{
    flex-wrap: wrap;
    gap: 23px;
}


.footer-icon svg{
    flex-basis: 25%;
}

footer{
    margin-top: 70px;
}

.games-top-content{
    text-align: center;
    padding: 0px 40px;
}
.games-top-content p{
    line-height: 28px;
    margin-top: 5px;
}
}
/* this is media query for tablet responsive */
@media screen and (min-width:425px) and (max-width:768px) {
    .header{
        margin: 50px 0px 0px 0px;
    }
    .navbar{
        flex-direction: column;
    }
    .follow-icon{
    flex-direction: column;
    }
    nav ul{
        flex-direction: column;
    }
    li{
        margin-bottom: 20px;
        text-align: center;
    }
    .banner-container{
        flex-direction: column;
        padding: 0px 10px 30px 10px;
    }
    .right-side-images-banner-container img{
        width: 100%;
    }
    .gamer{
        padding: 0px 40px 0px 40px;
        flex-direction: column;
        text-align: left;
        margin-bottom: 20px;
    }
    .gamer-section-images img{
        width: 100%;
    }
    .gamer-section-text{
        text-align: center;
        margin-bottom: 15px;
    }
    .video-game-container{
        flex-direction: column-reverse;
        padding: 0px 40px 0px 40px;
    }
    .video-img > img{
        width: 100%;
    }
    .download-container{
        gap: 0;
        flex-direction: column;
        margin: 0px 140px 0px 130px;
    }
    /* .container{
        margin: 0px 90px 0px 90px;
    } */
    .download-right-content.talking-tom{
        left: -27%;
        top: 55%;
        position: absolute;
        margin-bottom: 0;
        width: 46%;
    }
    .download-right-content .hourse-img{
    width: 100%;
    }
    .game-section-two{
        margin-top: 100px;
        flex-wrap: wrap;
    }
}